<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.coin.CoinMapper">

    <insert id="insertCoinPrice" parameterType="org.scoula.coin.CoinVO">
        INSERT INTO product.coin_list (coin_name, closing_price)
        VALUES (#{coinName}, #{closingPrice})
    </insert>

    <!-- Update query to update the closing price of an existing coin -->
<!--    <update id="updateCoinPrice" parameterType="org.scoula.coin.CoinVO">-->
<!--        UPDATE product.coin_list-->
<!--        SET closing_price = #{closingPrice}-->
<!--        WHERE coin_name = #{coinName}-->
<!--    </update>-->
    <update id="updateCoinPrice" parameterType="org.scoula.coin.CoinVO">
        UPDATE product.coin_list_price
        SET 5m_b_price = #{closingPrice}
        WHERE coin_name = #{coinName}
    </update>
</mapper>
