<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.deposite.DepositeMapper">
    <insert id="insertDepositeProduct">
        INSERT INTO product.deposite_list (fin_co_no, kor_co_nm, fin_prdt_cd, fin_prdt_nm, rsrv_type_nm, save_trm, intr_rate, intr_rate2)
        VALUES (#{finCoNo}, #{korCoNm}, #{finPrdtCd}, #{finPrdtNm}, #{rsrvTypeNm}, #{saveTrm}, #{intrRate}, #{intrRate2})
    </insert>
</mapper>
