<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.bond.BondMapper">

    <insert id="insertBond" parameterType="org.scoula.bond.BondVO">
        INSERT INTO product.bond_list (crno, scrsItmsKcd, isinCd, scrsItmsKcdNm, bondIsurNm, isinCdNm)
        VALUES (#{crno}, #{scrsItmsKcd}, #{isinCd}, #{scrsItmsKcdNm}, #{bondIsurNm}, #{isinCdNm});
    </insert>

    <select id="getAllbond" resultType="org.scoula.bond.bondPriceVO">
        SELECT * FROM product.bond_list
    </select>

    <update id="updateBondPrice" parameterType="map">
        UPDATE product.bond_list_price
        SET 1m_b_price = #{clprPrc}
        WHERE isinCd = #{isinCd}
    </update>


</mapper>
