<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.stock.StockMapper">

    <!-- SQL query for retrieving all stock information -->
    <select id="getAllStockInfo" resultType="org.scoula.stock.StockVO">
        SELECT * FROM product.stock_list
    </select>

    <!-- SQL query for updating stock price -->
<!--    <update id="updateStockPrice" parameterType="org.scoula.stock.StockVO">-->
<!--        UPDATE product.stock_list-->
<!--        SET price = #{price}-->
<!--        WHERE standard_code = #{standardCode}-->
<!--    </update>-->

<!--    <update id="updateStockPrice" parameterType="org.scoula.stock.StockVO">-->
<!--        insert INTO product.stock_list_price-->
<!--            (1m_b_price,standardCode, date) VALUES (#{price},#{standardCode},"2024-08-01")-->
<!--    </update>-->

<!--    <update id="updateStockPrice" parameterType="org.scoula.stock.StockVO">-->
<!--        update product.stock_list_price-->
<!--            set 2m_b_price = #{price}-->
<!--                where standardCode = #{standardCode}-->
<!--    </update>-->

    <update id="updateStockPrice" parameterType="org.scoula.stock.StockVO">
        update product.stock_list_price
        set 6m_b_price = #{price}
        where standardCode = #{standardCode}
    </update>
</mapper>
